[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git

# sky130_fd_pr
[submodule "libraries/sky130_fd_pr/latest"]
	path = libraries/sky130_fd_pr/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.20.1"]
	path = libraries/sky130_fd_pr/v0.20.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.20.1
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.20.0"]
	path = libraries/sky130_fd_pr/v0.20.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.20.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.13.0"]
	path = libraries/sky130_fd_pr/v0.13.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.13.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.12.1"]
	path = libraries/sky130_fd_pr/v0.12.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.12.1
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.12.0"]
	path = libraries/sky130_fd_pr/v0.12.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.12.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.11.0"]
	path = libraries/sky130_fd_pr/v0.11.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.11.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.10.1"]
	path = libraries/sky130_fd_pr/v0.10.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.10.1
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.10.0"]
	path = libraries/sky130_fd_pr/v0.10.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.10.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr/v0.0.9"]
	path = libraries/sky130_fd_pr/v0.0.9
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = branch-0.0.9
	shallow = true
	fetchRecurseSubmodules = false

# sky130_fd_sc_hd
[submodule "libraries/sky130_fd_sc_hd/latest"]
	path = libraries/sky130_fd_sc_hd/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd.git
	branch = main
	shallow = true
[submodule "libraries/sky130_fd_sc_hd/v0.0.2"]
	path = libraries/sky130_fd_sc_hd/v0.0.2
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd.git
	branch = branch-0.0.2
	shallow = true
[submodule "libraries/sky130_fd_sc_hd/v0.0.1"]
	path = libraries/sky130_fd_sc_hd/v0.0.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd.git
	branch = branch-0.0.1
	shallow = true

# sky130_fd_sc_hdll
[submodule "libraries/sky130_fd_sc_hdll/latest"]
	path = libraries/sky130_fd_sc_hdll/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hdll.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = true
[submodule "libraries/sky130_fd_sc_hdll/v0.1.1"]
	path = libraries/sky130_fd_sc_hdll/v0.1.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hdll.git
	branch = branch-0.1.1
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_sc_hdll/v0.1.0"]
	path = libraries/sky130_fd_sc_hdll/v0.1.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hdll.git
	branch = branch-0.1.0
	shallow = true
	fetchRecurseSubmodules = false

# sky130_fd_sc_hs
[submodule "libraries/sky130_fd_sc_hs/latest"]
	path = libraries/sky130_fd_sc_hs/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hs.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = true
[submodule "libraries/sky130_fd_sc_hs/v0.0.2"]
	path = libraries/sky130_fd_sc_hs/v0.0.2
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hs.git
	branch = branch-0.0.2
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_sc_hs/v0.0.1"]
	path = libraries/sky130_fd_sc_hs/v0.0.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hs.git
	branch = branch-0.0.1
	shallow = true
	fetchRecurseSubmodules = false

# sky130_fd_sc_ms
[submodule "libraries/sky130_fd_sc_ms/latest"]
	path = libraries/sky130_fd_sc_ms/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ms.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = true
[submodule "libraries/sky130_fd_sc_ms/v0.0.2"]
	path = libraries/sky130_fd_sc_ms/v0.0.2
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ms.git
	branch = branch-0.0.2
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_sc_ms/v0.0.1"]
	path = libraries/sky130_fd_sc_ms/v0.0.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ms.git
	branch = branch-0.0.1
	shallow = true
	fetchRecurseSubmodules = false

# sky130_fd_sc_ls
[submodule "libraries/sky130_fd_sc_ls/latest"]
	path = libraries/sky130_fd_sc_ls/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ls.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = true
[submodule "libraries/sky130_fd_sc_ls/v0.1.1"]
	path = libraries/sky130_fd_sc_ls/v0.1.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ls.git
	branch = branch-0.1.1
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_sc_ls/v0.1.0"]
	path = libraries/sky130_fd_sc_ls/v0.1.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ls.git
	branch = branch-0.1.0
	shallow = true
	fetchRecurseSubmodules = false
# sky130_fd_sc_lp
[submodule "libraries/sky130_fd_sc_lp/latest"]
	path = libraries/sky130_fd_sc_lp/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_lp.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = true
[submodule "libraries/sky130_fd_sc_lp/v0.0.2"]
	path = libraries/sky130_fd_sc_lp/v0.0.2
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_lp.git
	branch = branch-0.0.2
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_sc_lp/v0.0.1"]
	path = libraries/sky130_fd_sc_lp/v0.0.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_lp.git
	branch = branch-0.0.1
	shallow = true
	fetchRecurseSubmodules = false

# sky130_fd_sc_hvl
[submodule "libraries/sky130_fd_sc_hvl/latest"]
	path = libraries/sky130_fd_sc_hvl/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hvl.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = true
[submodule "libraries/sky130_fd_sc_hvl/v0.0.3"]
	path = libraries/sky130_fd_sc_hvl/v0.0.3
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hvl.git
	branch = branch-0.0.3
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_sc_hvl/v0.0.2"]
	path = libraries/sky130_fd_sc_hvl/v0.0.2
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hvl.git
	branch = branch-0.0.2
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_sc_hvl/v0.0.1"]
	path = libraries/sky130_fd_sc_hvl/v0.0.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hvl.git
	branch = branch-0.0.1
	shallow = true
	fetchRecurseSubmodules = false

# sky130_fd_io
[submodule "libraries/sky130_fd_io/latest"]
	path = libraries/sky130_fd_io/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_io.git
	branch = main
	shallow = true
	fetchRecurseSubmodules = true
[submodule "libraries/sky130_fd_io/v0.2.1"]
	path = libraries/sky130_fd_io/v0.2.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_io.git
	branch = branch-0.2.1
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_io/v0.2.0"]
	path = libraries/sky130_fd_io/v0.2.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_io.git
	branch = branch-0.2.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_io/v0.1.0"]
	path = libraries/sky130_fd_io/v0.1.0
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_io.git
	branch = branch-0.1.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_io/v0.0.2"]
	path = libraries/sky130_fd_io/v0.0.2
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_io.git
	branch = branch-0.1.0
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_io/v0.0.1"]
	path = libraries/sky130_fd_io/v0.0.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_io.git
	branch = branch-0.0.1
	shallow = true
	fetchRecurseSubmodules = false
#sky130_fd_pr_reram
[submodule "libraries/sky130_fd_pr_reram/v0.0.9"]
	path = libraries/sky130_fd_pr_reram/v0.0.9
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr_reram.git
	branch = branch-0.0.9
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr_reram/v2.0.1"]
	path = libraries/sky130_fd_pr_reram/v2.0.1
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr_reram.git
	branch = branch-2.0.1
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr_reram/v2.0.2"]
	path = libraries/sky130_fd_pr_reram/v2.0.2
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr_reram.git
	branch = branch-2.0.2
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr_reram/v2.0.3"]
	path = libraries/sky130_fd_pr_reram/v2.0.3
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr_reram.git
	branch = branch-2.0.3
	shallow = true
	fetchRecurseSubmodules = false
[submodule "libraries/sky130_fd_pr_reram/latest"]
	path = libraries/sky130_fd_pr_reram/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr_reram.git
	branch = main
