# Format: kokoro/config/proto/build.proto

build_file: "skywater-pdk/.github/kokoro/run.sh"

env_vars {
  key: "KOKORO_TYPE"
  value: "presubmit"
}

env_vars {
  key: "KOKORO_DIR"
  value: "skywater-pdk"
}
