git+https://github.com/SymbiFlow/sphinx_symbiflow_theme.git#egg=sphinx-symbiflow-theme

docutils
sphinx
sphinx-autobuild
sphinxcontrib-bibtex

# Verilog domain
sphinx-verilog-domain
# Verilog diagrams using Yosys + netlistsvg
sphinxcontrib-hdl-diagrams

# Module diagrams
#git+https://github.com/SymbiFlow/symbolator.git#egg=symbolator

# pycairo
# vext.gi

restructuredtext-lint
rstdoc

tabulate
