git+https://github.com/SymbiFlow/sphinx_materialdesign_theme.git#egg=sphinx-symbiflow-theme

docutils
sphinx
sphinx-autobuild

# Verilog diagrams using Yosys + netlistsvg
git+https://github.com/SymbiFlow/sphinxcontrib-verilog-diagrams.git#egg=sphinxcontrib-verilog-diagrams

# Module diagrams
symbolator

# pycairo
# vext.gi

restructuredtext-lint
rstdoc

tabulate
