img.align-center {
	display: block;
}

span.lib-process {
	color: green;
}

span.lib-src {
	color: purple;
}

span.lib-type {
	color: orange;
}

span.lib-name {
	color: blue;
}

span.drc-rule {
	font-family: monospace;
	white-space: pre;
	display: inline-block;
}

span.drc-tag {
	font-family: monospace;
	white-space: pre;
	display: inline-block;
}

span.drc-flag {
	font-family: monospace;
	white-space: pre;
	display: inline-block;
}

span.layer {
	font-family: monospace;
	white-space: pre;
	display: inline-block;
}

.page-content table thead th {
	position: sticky !important;
	top: 0;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.4);
}
